.container {
    background-color: white;
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px 0px;
    border: 1px solid rgb(218, 218, 218);
    margin: 3% 0 3% 0;
    padding: 0 3% 3% 3%;
}

.dot--isActive {
    background-color: grey;
}