.sliderTrackContainer--featured-products {
    margin: 4% 0 0 0;
    padding: 0 4% 0 4%;
}

.paginationDotsContainer--banners {
    padding: 1rem;
}

.sliderChildrenContainer--banners {
    width: 100%;
}

.paginationDot--banners--isActive {
    background-color: grey;
}