.infoCardContainer--featured-products {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    cursor: pointer;
}

.infoCardImage--featured-products {
    border-radius: 100%;
    margin: 0px;
    transition: all 275ms cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
    overflow: hidden;
    background-color: white;
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px;
}

.infoCardImage--featured-products:hover {
    box-shadow: rgba(0, 0, 0, 0.349) 0 0 10px;
}

.infoCardImageContainer--featured-products {
    padding: 3%;
    width: 75%;
    height: 75%;
}

.infoCardTextContainer--featured-products {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    height: 30%;
}

.infoCardText--featured-products {
    font-weight: 900;
}

.infoCardContainer--discounts {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px 0px;
    border: 1px solid rgb(218, 218, 218);
    padding: 0;
    margin-top: 3%;
    cursor: pointer;
}

.infoCardImageContainer--discounts {
    width: 100%;
    height: 100%;
}
.infoCardImage--discounts {
    width: 100%;
    height: 100%;
}

.infoCardTextContainer--discounts {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 2%;
}
.infoCardText--discounts {
    width: 100%;
    height: auto;
}

.infoCardSubhead--discounts {
    text-align: left;
    font-weight: 700;
    width: 100%;
    margin: 0;
    padding: 0;
}

.searchBarContainer {
    width: 100%;
}

.notificationBarInner {
    background-color: #352666;
}