.flexColChild--search-bar {
    width: 100%;
}

.flexCol--nav-right {
    flex-direction: row;
}

.flexColChild--home-content {
    width: 75%;
}

.flexRowContent--discounts {
    width: 100%;
}

.flexRowContent--product-main {
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px 0px;
    background-color: #fff;
    border: 1px solid rgb(218, 218, 218);
    padding-right: 4%;
    padding-left: 4%;
}