.wishlistButtonContainer {
    display: flex;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color .5s;
}

.wishlistButtonContainer:hover {
    background-color: #dbe9fd !important;
    transition: background-color .5s;
}

.wishlistButtonContainer :global(.vtex-button) {
    background-color: transparent;
}

.wishlistButtonContainer :global(.vtex-button__label) {
    padding: 0;
}

.wishlistButtonText {
    margin-left: 16px;
    font-size: 16px;
}